*{
	-webkit-user-select :none;
	-moz-user-select :none;
	-ms-user-select :none;
	-o-user-select :none;
	user-select :none;
}
p{
	font-size: 15px;
}
body{
	background-color: rgb(238,239,243);
	margin-top:-1px;
}
a:link {
    text-decoration: none;
    color: rgb(27,155,255);
}

a:visited {
    text-decoration: none;
    color: rgb(27,155,255);
}

a:hover {
    text-decoration: none;
    color: rgb(27,155,255);
}

#mpage{
	background-color: rgb(34,34,34);
}
#mpage .nav {	
	background-color: rgb(107,212,208);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
	text-align: center;
}
#mpage .nav h1{
	font-size: 2.5em;
}
.nav h1{
	color: white;
}
.tact .body{
	margin-top: 20px;
}
.tact .body table td,tr{
	padding: 10px;
	border:none;
}

.page2 h2{
	padding-top: 10px;
	padding-bottom: 5px;
	color: #003380;
}
.box h2{
	text-align:center;
	position:relative;
}
.box {
	margin:40px auto;
}
.effect
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.page2 li{
  	font-family:sans-serif;
  	font-size: 1.1em;
  	height: 30px;
  	list-style: none;
}
.mbtn{
	margin-left: -35px;
	margin-right: -20px;
}
.nav{
	margin-left: -15px;
	padding: 0;
	/*width: 100%;*/
	background-color:rgb(27,155,255); 
	border: 1px solid rgb(86, 180, 239);
  	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05) inset, 2px 2px 2px rgba(82, 168, 236, 0.6);
}

.nav ul {
	display: inline;
  list-style: none;
}
.nav li {
	padding-left: 15%;
    font-family:sans-serif;
  	font-size: 1.2em;
  	height: 40px;
}
.nav div{
	display: inline-block;	
}
#bbtn{
	margin-left: -8%;
	margin-top: 25px;
	margin-bottom: -10px;
}
#btn{
	padding-top: 20px;
	height: 40px;
	float: right;
}
#sidebar { 
	position: relative;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
    /*left:0;*/
    width:100%;
    top: 0;
    height: 100%;	
    background:rgb(44,62,80);
    z-index: 1;
    float: right;
    text-align: center;
	 }
#sidebar ul {
	display: inline-block;
  list-style: none;
   padding: 0;
   padding-left: -20%;
   width: 100%;
  margin: 0;
  /*padding-top: 10px;*/
}
#sidebar li:hover{
	/*background-color: rgb(52,152,219);*/
	background-color: rgb(27,155,255);
	color: white;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#sidebar li {
	/*display: inline-block;*/
	padding-left: 20px;
	font-family:sans-serif;
	font-size: 1.2em;
	line-height: 50px;
 	height: 50px;
 	border-bottom: 0.5px solid;
 	border-color: rgb(158,165,166);
}
.pros ul{
	list-style: none;
}
#main{
	position: relative;
	margin:auto;
	display: inline;
}
#new{
	margin-left: -10%;
	margin-top: 30px;
}
.quad{
	border width: 10px;
	border-style: double;
	/*width: 40%;*/
	border-radius: 100%;
	display:inline-block;
	float: left;
	padding:5px;
	margin: 5%;
	height: 100px;
	text-align: center;
	list-style: none;
}
.quad ul{
	margin-left:-20%;

}
.quad li{
	padding-top: 20px;
}

#contact{
	clear: both;
	/*margin-left: 25%;*/
	border-color: rgb(255,131,167);
}
#tut{
	border-color: rgb(255,98,63);
}
#prog{
	border-color:rgb(88,178,164); 
}

.case{
	background-color: #eee;
}
table td,th{
	border: 1px inset black;
	border-color: #c0c0c0
}
table{
	border-spacing: 0;
	font-size: 14px;
	background-color: #eee;
}


/*Responsive CSS*/

@media all and (max-device-width:400px){
#contact{
	margin-left: 25%;
	height: 110px;
}
}


@media all and (min-device-width: 401px) and (max-device-width: 768px) { 
	.quad{
	padding:20px;
	margin-left:10%;
	float: none;
}
#bbtn{
	margin-left: 0;
}
#txt{
	position: relative;
	display: inline-block;
	margin-left: 27%;
}

#contact{
	clear: both;
	border-color: rgb(255,131,167);
	}
#new{
	margin-top: 10%;
	margin-left:2%;
}
}

@media all and (min-device-width: 769px){
	#bbtn{
	margin-left: 0;
}
	#txt{
	position: relative;
	display: inline-block;
	margin-left: 60%;
}
	.quad{
	padding:20px;
	margin-left:10%;
	float: none;
}
#contact{
	clear: both;
	border-color: rgb(255,131,167);
	
}
#new{
	margin-top: 10%;
	margin-left:2%;
}
#prog:hover{
	background-color: rgb(107,212,208);
	border-width: 2px;
	color: white;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#tut:hover{
	background-color: rgb(220,125,96);
	border-width: 2px;
	color: white;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#contact:hover{
	background-color: rgb(222,116,147);
	border-width: 2px;
	color: white;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
}


/* lavish sir 
<style>
	header{
		background-color: #455;
		height: 100px;
	}
	@media all and (max-width: 360px){
		header{
			background-color: #F00;
		}
		.li{
			display: block;
		}
	}
</style>