p{
	font-size: 15px;
}
body{
	background-color: rgb(238,239,243);
}
#mpage{
	background-color: rgb(34,34,34);
}
#mpage .nav {
	background-color: rgb(107,212,208);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
	text-align: center;
	padding-bottom: 5px;
}
.nav h1{
	color: white;
}

.nav{
	margin-left: -15px;
	padding: 0;
	background-color:rgb(27,155,255); 
	/*box-shadow: 5px 5px 2px #888888;*/
	border: 1px solid rgb(86, 180, 239);
  	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05) inset, 2px 2px 2px rgba(82, 168, 236, 0.6);
}

.nav ul {
	display: inline;
  list-style: none;
  /*background-color: #444;*/
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
	/*display: inline;*/
	padding-left: 20px;
   font-family:sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  /*border-bottom: 1px solid #888;*/
}
.nav div{
	display: inline-block;	
}
#sidebar { 
	position:fixed;
    /*top:0; */
    /*bottom:0; */
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
    left:0;
    width:40%;
    height: 100%;	
    background:rgb(84,104,191);
    z-index: 1;
    float: left;
    color: white;
	 }
#sidebar ul {
	display: inline-block;
  list-style: none;
  /*background-color: #444;*/
  padding: 0;
  margin: 0;
}

#sidebar li {
	/*display: inline-block;*/
	padding-left: 20px;
   font-family:sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.pros ul{
	list-style: none;
}
#main{
	position: relative;
	margin:auto;
}
#new{
	margin-left: -10%;
	margin-top: 30px;
}
.quad{
	border width: 10px;
	border-style: double;
	/*width: 40%;*/
	border-radius: 50%;
	display:inline-block;
	float: left;
	padding:5px;
	margin: 5%;
	height: 100px;
	text-align: center;
	list-style: none;
}
.quad ul{
	margin-left:-20%;

}
.quad li{
	padding-top: 20%;
}
#contact{
	clear: both;
	margin-left: 25%;
	border-color: rgb(255,131,167);
}
#tut{
	border-color: rgb(255,98,63);
}
#prog{
	border-color:rgb(88,178,164); 
}

.case{
	background-color: #eee;
}
table td,th{
	border: 1px inset black;
	border-color: #c0c0c0
}
table{
	border-spacing: 0;
	font-size: 14px;
	background-color: #eee;
}

@media all and (min-width:400px){
	.quad{
	padding:30px;
	margin: 10%;
}
#contact{
	clear: both;
	margin-left: 25%;
	border-color: rgb(255,131,167);
}
#new{
	margin-left: 20%;
}

}







/* lavish sir 
<style>
	header{
		background-color: #455;
		height: 100px;
	}
	@media all and (max-width: 360px){
		header{
			background-color: #F00;
		}
		.li{
			display: block;
		}
	}
</style>